@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  line-height: 1.6;
}

header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 30px 100px;
}

.nav-menu ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 50px;
}

.nav-menu li {
  margin-left: 50px;
}

.nav-menu a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.nav-menu a:hover {
  color: hsl(0, 0%, 100%);
  border-bottom: 2px solid hsl(0, 0%, 100%);
}

.nav-menu.active {
  top: 0;
}

.icons {
  margin-left: auto;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.nav-menu.active ~ #overlay {
  display: block;
}

.slide {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.image-container {
  max-width: 100%;
  width: 50%;
  height: 550px;
  flex: 2;
}

.image-container img {
  max-width: 100%;
  width: 100%;
  height: 550px;/
}

.arrow-container {
  display: flex;
  justify-content: space-evenly;
  width: 140px;
  height: 75px;
  background-color: black;
  position: relative;
  margin-top: auto;
}

.arrow-container button {
  background: none;
  padding: 0 25px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
}

.arrow-container button:hover {
  background: hsl(0, 0%, 27%);
}

.text-container {
  flex: 1;
  margin: auto;
  padding: 50px;
}

.text-container h2 {
  font-size: 52px;
  line-height: 1;
}

.text-container p {
  margin-bottom: 20px;
  color: #555;
}

.shop-now {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 10px;
}

.shop-now:hover {
  color: hsl(0, 0%, 63%);
}

/* Style dasar */
.image-container,
.text-container {
  position: relative;
  overflow: hidden;
}

.image-container picture img,
.text-container h2,
.text-container p {
  width: 100%;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Animasi slide masuk */
.image-container picture img.slide-in,
.text-container h2.slide-in,
.text-container p.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* Animasi slide keluar */
.image-container picture img.slide-out,
.text-container h2.slide-out,
.text-container p.slide-out {
  opacity: 0;
  transform: translateX(-100%);
}

.about {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.image-about {
  width: 30%;
  height: 370px;
}

.image-about img{
  width: 100%;
  height: 370px;
}

.about-text  {
  margin: auto;
  width: 35%;
}

.about h3 {
  letter-spacing: 10px;
  font-size: 30px;
}

.about p {
  margin: 0 auto;
  color: #666;
  font-size: 20px;
}

@media (max-width: 1156px) {
  body {
    padding: 0;
    margin: 0;
  }

  .header {
    padding: 20px;
  }

  .nav-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: -100%;
    height: 10%;
    width: 100%;
    background-color: hsl(36, 100%, 99%);
    transition: 0.3s ease-in-out;
    z-index: 200;
  }
  
  .nav-menu a {
    color: hsl(220, 13%, 13%);
  }

  nav ul {
    display: flex;
    align-items: center;
    font-weight: 600;
  }

  .nav-menu img {
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 40px;
  }

  .nav-menu li {
    margin-left: 30px;
  }

  .menu-icon {
    display: block;
    margin-right: 15px;
  }

  .logo {
    margin: auto;
  }

  .slide {
    flex-direction: column;
  }

  .image-container {
    max-width: 100%;
    width: 100%;
    height: auto;
    flex: 2;
  }
  
  .image-container img {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .arrow-container {
    margin-left: auto;
    bottom: 85px;
  }

  .text-container {
    position: relative;
    bottom: 50px;
  }

  .text-container h2 {
    font-size: 32px;
  }

  .about {
    flex-direction: column;
  }

  .image-about {
    width: 100%;
    height: auto;
  }
  
  .image-about img{
    width: 100%;
    height: auto;
  }

  .about-text  {
    margin: auto;
    width: 100%;
    padding: 50px;
  }
}